<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Suis-je unique ?</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/sb-admin.css")">
        <!-- Custom Fonts -->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("font-awesome-4.2.0/css/font-awesome.min.css")" >

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/html5shiv.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/respond.min.js")"></script>
        <![endif]-->
    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Affichage mobile</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Suis-je unique ?</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
            </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li>
                            <a style="color:#ffffff" href="/"><i class="fa fa-fw fa-home"></i>&nbsp; Accueil</a>
                        </li>
                        <li>
                            <a style="color:#ffffff" href="/fp"><i class="fa fa-fw fa-paw"></i>&nbsp; Mon empreinte numérique</a>
                        </li>
                        <li>
                            <a style="color:#ffffff" href="/stats"><i class="fa fa-fw fa-pie-chart"></i>&nbsp;  Statistiques globales</a>
                        </li>
                        <li>
                            <a style="color:#ffffff" href="/faq"><i class="fa fa-fw fa-question"></i>&nbsp; FAQ</a>
                        </li>
                        <li>
                            <a style="color:#ffffff" href="/privacy"><i class="fa fa-fw fa-shield"></i>&nbsp; Politique de confidentialité</a>
                        </li>
                        <li>
                            <a style="color:#ffffff" href="/links"><i class="fa fa-fw fa-link"></i>&nbsp; Liens</a>
                        </li>
                        <li class="active">
                            <a style="color:#ffffff" href="/about"><i class="fa fa-fw fa-circle-o"></i>&nbsp; À propos</a>
                        </li>
                        <li>
                            <a style="color:#ffffff" href="https://github.com/DIVERSIFY-project/amiunique" target="GitHub"><i class="fa fa-fw fa-github-alt"></i>&nbsp; Voir le projet sur GitHub</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">

                <div class="container">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h2>Qui gère et maintient ce site web ?</h2>
                            Ce site web a été créé et il est maintenu par une équipe de chercheurs qui étudient les monocultures et la diversité logicielles sur le Web. L'équipe de recherche est financée par le <a style="text-decoration:underline;" href="http://diversify-project.eu">projet européen DIVERSIFY</a> et par une subvention de l'<a style="text-decoration:underline;" href="http://www.insa-rennes.fr/en.html">INSA-Rennes</a>.

                            Ce site est hébergé par <a style="text-decoration:underline;" href="http://www.inria.fr/en/centre/rennes">le pôle de recherche Bretagne-Atlantique de l'INRIA-Rennes</a> et le <a style="text-decoration:underline;" href="http://www.irisa.fr/en">labo IRISA</a>.

                            <h2>Quels sont les objectifs de ce site web ?</h2>

                            <h3>Informer les utilisateurs de leur situation relative dans l'écosystème du Web</h3>

                            Avec ce site web, nous cherchons à donner à l'utilisateur des éléments d'information basiques sur leur configuration et le degré de traçabilité de celle-ci. Nous souhaitons également exploiter les données que nous collectons pour conseiller les utilisateurs et leur permettre de devenir davantage semblables aux autres et de ce fait beaucoup moins faciles à pister.

                            <h3>Mener une étude sur la diversité des empreintes numériques</h3>

                            La problématique de notre recherche est la suivante : comment pouvons-nous reconfigurer automatiquement la plateforme d'un utilisateur pour « flouter » son empreinte numérique de façon réaliste ? Un certain degré de réalisme est en effet important pour éviter que les utilisateurs de nos solutions soient détectés comme cherchant à déjouer le pistage. La récolte à grande échelle d'empreintes numériques véritables nous permettra d'orienter notre solution vers des plateformes aussi différentes que possible et cependant pas identifiables comme des configurations « bizarres ».

                            <br>
                            <div class="text-center">
                            <a href="http://www.inria.fr/en/centre/rennes"><img title="Inria" src="@routes.Assets.at("images/inria.png")"/></a>
                            <a href="http://www.insa-rennes.fr/en.html"><img title="Insa Rennes" src="@routes.Assets.at("images/insa.svg")" align="middle" /></a>
                            <a href="http://diversify-project.eu/"><img title="Diversify project" src="@routes.Assets.at("images/diversify.png")" width="350px" align="middle" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
            <!-- /#wrapper -->

        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    </body>
</html>
