@import java.util._;
@import models._;
@import java.sql.Timestamp;
@import org.apache.commons.lang.time.DateFormatUtils;

@(fps : TreeSet[FpDataEntity], differences : HashMap[Integer, String], tabHtmlDifferences : HashMap[Integer, String])


        @for(fp <- fps.iterator) {
            @if(differences.get(fp.getCounter()) != null){
                <p>
                    @if(!differences.get(fp.getCounter()).equals("nodiff")){
                        <table class="table table-striped table-hover"><tr class="legend"><th>@Messages("fp.detAtt")</th><th>@Messages("history.after")</th><th>@Messages("history.before")</th></tr>
                            @Html(tabHtmlDifferences.get(fp.getCounter()))
                        </table>
                    }else{
                        @Messages("history.nodiff")
                    }
                </p>
                <br/>
                <br/>
                <br/>
            }   
        }

