@header = {
}
@footer = {
    <script type="text/javascript">
        document.getElementById("link").href = "/fp";
    </script>
}

@main(header, footer, "/home") {
    <div class="text-center">
        <br>
        <div class="alert alert-success" role="alert">
           @Html(Messages("home.milestone1"))
            <a href="https://addons.mozilla.org/firefox/addon/amiunique/"
            target="_blank" class="alert-link">
                <i class="fa fa-fw fa-firefox"></i> Firefox
            </a>
            @Html(Messages("home.milestone2"))
            <a href="https://chrome.google.com/webstore/detail/amiunique/pigjfndpomdldkmoaiiigpbncemhjeca"
            target="_blank" class="alert-link">
                <i class="fa fa-fw fa-chrome"></i> Chrome
                </a>
            @Html(Messages("home.milestone3"))
            <a href="/timeline" class="alert-link">@Messages("home.milestone4")</a>.
        </div>

        @Html(Messages("home"))
    </div>
}