@header = {
}
@footer = {
}

@main(header, footer, "/links") {
        <h2>General definitions of fingerprinting</h2>
        <ul>
            <li><a href="https://sites.google.com/a/chromium.org/dev/Home/chromium-security/client-identification-mechanisms#TOC-Machine-specific-characteristics">
                Technical analysis of client identification mechanisms (Chromium project)
            </a></li>
            <li><a href="https://wiki.mozilla.org/Fingerprinting">Fingerprinting (Mozilla)</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Device_fingerprint">Device fingerprint (Wikipedia)</a></li>
        </ul>


        <h2>Fingerprinting in the press</h2>
        <ul>
            <li>EN - <a href="http://www.bbc.com/news/technology-28423257">
                Browser 'fingerprints' help track users (BBC)</a></li>
            <li>FR - <a href="http://www.lemonde.fr/pixels/article/2014/07/22/publicite-une-nouvelle-technique-pour-pister-les-internautes_4461305_4408996.html">
                Publicité : une nouvelle technique pour pister les internautes (Le Monde)
            </a></li>
        </ul>


        <h2>amiunique.org in the press</h2>
        <ul>
            <li>FR - <a href="http://pro.clubic.com/webmarketing/publicite-en-ligne/actualite-742853-fingerprinting-cookies.html">
                An article in the Clubic tech magazine</a></li>
            <li>FR - <a href="http://www.framablog.org/index.php/post/2014/12/22/si-on-brouillait-les-pistes-avec-amiunique">
                A post in the Framasoft blog</a></li>
            <li>FR - <a href="http://youtu.be/uVECjeSUzy0">
                A video about work at the <a href="http://www.openworldforum.paris/fr/">Open World Forum 2014</a></a></li>
            <li>EN - <a href="https://www.bestvpn.com/blog/12147/unique-new-browser-fingerprinting-tool/">
                An article on BestVPN.com</a></li>
        </ul>


        <h2>Technical presentation</h2>
        <ul>
            <li><a href="http://spectrum.ieee.org/computing/software/browser-fingerprinting-and-the-onlinetracking-arms-race">
                Browser Fingerprinting and the Online-Tracking Arms Race (IEEE Spectrum)
            </a></li>
            <li><a href="https://securehomes.esat.kuleuven.be/~gacar/persistent/#canvas-results">
                The Web never forgets: Persistent tracking mechanisms in the wild (KU Leuven)
            </a></li>
        </ul>

        <h2>Scientific papers</h2>
        <ul>
            <li><a href="http://www.cl.cam.ac.uk/~sjm217/papers/ccs06hotornot.pdf">
                Hot or Not: Revealing Hidden Services by their Clock Skew (2006)</a></li>
            <li><a href="https://panopticlick.eff.org/browser-uniqueness.pdf">How Unique Is Your Web Browser? (2010)</a></li>
            <li><a href="http://pet-portal.eu/files/articles/2011/fingerprinting/cross-browser_fingerprinting.pdf">
                User Tracking on the Web via Cross-Browser Fingerprinting (2011)</a></li>
            <li><a href="https://cseweb.ucsd.edu/~hovav/dist/canvas.pdf">
                Pixel Perfect: Fingerprinting Canvas in HTML5 (2012)</a></li>
            <li><a href="https://www.sba-research.org/wp-content/uploads/publications/jsfingerprinting.pdf">
                Fast and Reliable Browser Identification with JavaScript Engine Fingerprinting (2013)</a></li>
            <li><a href="https://www.cosic.esat.kuleuven.be/publications/article-2334.pdf">
                FPDetective: dusting the web for fingerprinters (2013)</a></li>
            <li><a href="http://cs.ucsb.edu/~vigna/publications/2013_SP_cookieless.pdf">
                Cookieless Monster: Exploring the Ecosystem of Web-based Device Fingerprinting (2013)
            </a></li>
            <li><a href="http://www.w2spconf.com/2013/papers/s2p1.pdf">
                Fast and Reliable Browser Identification with JavaScript Engine Fingerprinting (2013)
            </a></li>
            <li><a href="http://cacr.uwaterloo.ca/techreports/2013/cacr2013-10.pdf">
                Improved Website Fingerprinting on Tor (2013)</a></li>
            <li><a href="http://www.cosic.esat.kuleuven.be/publications/article-2457.pdf">
                The Web Never Forgets: Persistent Tracking Mechanisms in the Wild (2014)
            </a></li>
            <li><a href="https://eprint.iacr.org/2015/616.pdf">
                The leaking battery : A privacy analysis of the HTML5 Battery Status API (2015)
            </a></li>
            <li><a href="http://fc15.ifca.ai/preproceedings/paper_83.pdf">
                Fingerprinting web users through font metrics (2015)
            </a></li>
            <li><a href="https://lirias.kuleuven.be/bitstream/123456789/496316/1/a6-spooren.pdf">
                Mobile Device Fingerprinting Considered Harmful for Risk-based Authentication (2015)
            </a></li>
            <li><a href="https://hal.inria.fr/hal-01285470/file/beauty-sp16.pdf">
                Beauty and the Beast: Diverting modern web browsers to build unique browser fingerprints (2016)
            </a></li>
        </ul>

        <h2>Other sites about fingerprinting</h2>
        <ul>
            <li><a href=" https://panopticlick.eff.org/">Panopticlick (EFF)</a></li>
            <li><a href="http://fingerprint.pet-portal.eu">Cross-browser fingerprinting test</a></li>
            <li><a href="http://noc.to/">Noc.to</a></li>
            <li><a href="http://browserspy.dk/">Browser spy</a></li>
            <li><a href="http://www.fademi.com/fp/">Fybrid</a></li>
            <li><a href="https://donottrack-doc.com/">Do Not Track documentary</a></li>
        </ul>
}

