@import com.fasterxml.jackson.databind.JsonNode
@(fp : JsonNode)


@header = {
}

@footer = {
    <script type="text/javascript">
        if (document.location.hash) {
            var hash = document.location.hash;
            $('.nav-tabs a[href='+hash+']').tab('show');
        }
    </script>
}

@main(header, footer, "/timeline") {
    <h2 class="text-center">@Messages("timeline.title")</h2>

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a class="colored-tabs" href="#timeline" role="tab" data-toggle="tab">@Messages("timeline.menu1")</a></li>
        <li><a id="fpTab" class="colored-tabs" href="#fp" role="tab" data-toggle="tab">@Messages("timeline.menu2")</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active text-center" id="timeline">
            <br>
            <p>@Html(Messages("timeline.empty"))</p>
        </div>
        <div class="tab-pane fade" id="fp">
            @timelineTable(fp)
        </div>
    </div>

}