@header = {
}
@footer = {
}

@main(header, footer , "/tools") {
    
    <p>
        @Messages("pvtools.desc")
    </p>
        <h2>@Messages("pvtools.ext")</h2>
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th class="text-center">@Messages("pvtools.colext")</th>
                        <th class="text-center">@Messages("pvtools.coldesc")</th>
                        <th>@Messages("pvtools.colsite")</th>
                        <th><img height="40px" src="@routes.Assets.at("images/tools/firefox.png")"/></th>
                        <th><img height="40px" src="@routes.Assets.at("images/tools/chrome.png")"/></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-original-title="@Messages("pvtools.rec")" data-container="body" data-toggle="tooltip" data-placement="bottom">
                        <td style="white-space: nowrap"><img height="40px" src="@routes.Assets.at("images/tools/ublock.png")"/> <b>uBlock Origin</b></td>
                        <td>@Messages("pvtools.ublock")</td>
                        <td> <a href="https://github.com/gorhill/uBlock" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><a href="https://addons.mozilla.org/firefox/addon/ublock-origin/" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td align="center"><a href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                    </tr>
                    <tr data-original-title="@Messages("pvtools.rec")" data-container="body" data-toggle="tooltip" data-placement="bottom">
                        <td style="white-space: nowrap"><img height="40px" src="@routes.Assets.at("images/tools/ghostery.png")"/> <b>Ghostery</b></td>
                        <td>@Messages("pvtools.ghostery")</td>
                        <td> <a href="https://www.ghostery.com/home" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><a href="https://addons.mozilla.org/firefox/addon/ghostery/" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><a href="https://chrome.google.com/webstore/detail/ghostery/mlomiejdfkolichcflejclcbmpeaniij" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                    </tr>
                    <tr data-original-title="@Messages("pvtools.rec")" data-container="body" data-toggle="tooltip" data-placement="bottom">
                        <td style="white-space: nowrap"><img height="40px" src="@routes.Assets.at("images/tools/https.jpg")"/> <b>HTTPS Everywhere</b></td>
                        <td>@Messages("pvtools.httpseverywhere1")<br>
                             @Messages("pvtools.httpseverywhere2")<a href="https://www.eff.org/observatory" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>@Messages("pvtools.httpseverywhere3")</a>
                        </td>
                        <td> <a href="https://www.eff.org/HTTPS-EVERYWHERE" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><a href="https://addons.mozilla.org/firefox/addon/https-everywhere/" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><a href="https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap"><img height="40px" src="@routes.Assets.at("images/tools/lightbeam.png")"/> <b>Lightbeam</b></td>
                        <td>@Messages("pvtools.lightbeam1")<br>
                            <a href="http://www.ted.com/talks/gary_kovacs_tracking_the_trackers" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>@Messages("pvtools.lightbeam2")
                            </a>
                            @Messages("pvtools.lightbeam3")
                        </td>
                        <td> <a href="https://www.mozilla.org/lightbeam/" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><a href="https://addons.mozilla.org/firefox/addon/lightbeam/" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><i class="fa fa-fw fa-ban"></i></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap"><img height="40px" src="@routes.Assets.at("images/tools/adblock.png")"/> <b>AdBlock Plus</b></td>
                        <td>@Messages("pvtools.adblock1")
                            <a href="abp:subscribe?location=https://secure.fanboy.co.nz/r/fanboy-complete.txt&title=Fanboy%20Complete%20Adblock">
                                @Messages("pvtools.adblock2")
                            </a></td>
                        <td> <a href="https://adblockplus.org" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><a href="https://addons.mozilla.org/firefox/addon/adblock-plus/" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><a href="https://chrome.google.com/webstore/detail/adblock-plus/cfhdojbkjhnklbpkdaibdccddilifddb" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap"><img height="40px" src="@routes.Assets.at("images/tools/disconnect.jpg")"/> <b>Disconnect</b></td>
                        <td>@Messages("pvtools.disconnect")</td>
                        <td> <a href="https://disconnect.me/" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><a href="https://addons.mozilla.org/firefox/addon/disconnect/" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><a href="https://chrome.google.com/webstore/detail/disconnect/jeoacafpbcihiomhlakheieifhpjdfeo" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap"><img height="40px" src="@routes.Assets.at("images/tools/privacy-badger.png")"/> <b>Privacy Badger</b></td>
                        <td>@Messages("pvtools.privacybadger")</td>
                        <td> <a href="https://www.eff.org/privacybadger" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><a href="https://addons.mozilla.org/en-US/firefox/addon/privacy-badger17/" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><a href="https://chrome.google.com/webstore/detail/privacy-badger/pkehgijcmpdhfbdbbnkijodmdjhbjlgp" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap"><img height="40px" src="@routes.Assets.at("images/tools/noscript.png")"/> <b>NoScript</b></td>
                        <td>@Messages("pvtools.noscript")</td>
                        <td> <a href="https://noscript.net/" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><a href="https://addons.mozilla.org/firefox/addon/noscript/" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><i class="fa fa-fw fa-ban"></i></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap"><img height="40px" src="@routes.Assets.at("images/tools/self.png")"/> <b>Self-Destructing Cookies</b></td>
                        <td>@Messages("pvtools.selfdest")</td>
                        <td></td>
                        <td><a href="https://addons.mozilla.org/firefox/addon/self-destructing-cookies/" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a></td>
                        <td><i class="fa fa-fw fa-ban"></i></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <h2>@Messages("pvtools.searchengine")</h2>
            <img height="40px" src="@routes.Assets.at("images/tools/duck.png")"/> <b>DuckDuckGo</b> -
            <a href="https://duckduckgo.com/" target="_blank">
                <i class="fa fa-fw fa-external-link"></i> @Messages("pvtools.webpage")
            </a><br>
            @Messages("pvtools.ddg1")
            <a href="http://dontbubble.us/">@Messages("pvtools.ddg2")</a>
            @Messages("pvtools.ddg3")<br><br>

            <img height="40px" src="@routes.Assets.at("images/tools/tor.png")"/> <b>@Messages("pvtools.tor1")</b> -
            <a href="https://www.torproject.org/" target="_blank">
                <i class="fa fa-fw fa-external-link"></i> @Messages("pvtools.webpage")
            </a><br>
            @Messages("pvtools.tor2")<br><br>

            <img height="40px" src="@routes.Assets.at("images/tools/tails.png")"/> <b>Tails</b> -
            <a href="https://tails.boum.org/" target="_blank">
                <i class="fa fa-fw fa-external-link"></i> @Messages("pvtools.webpage")
            </a><br>
            @Messages("pvtools.tails")<br><br>

            <img height="40px" src="@routes.Assets.at("images/tools/trackoff.png")"/> <b>TrackOFF</b> -
            <a href="https://www.trackoff.com/" target="_blank">
                <i class="fa fa-fw fa-external-link"></i> @Messages("pvtools.webpage")
            </a><br>
            @Messages("pvtools.trackOff")<br>

        <h2>@Messages("pvtools.ip1")</h2>
            @Messages("pvtools.ip2")<br>
            @Messages("pvtools.ip3")
            <a href="https://www.bestvpn.com/" target="_blank">@Messages("pvtools.ip4")</a> @Messages("pvtools.ip5")

        <h2>@Messages("pvtools.cookies1")</h2>
            @Messages("pvtools.cookies2")
            <a href="https://support.mozilla.org/kb/disable-third-party-cookies"><i class="fa fa-fw fa-external-link"></i>@Messages("pvtools.cookies3")</a>
            @Messages("pvtools.cookies4")<a href="https://support.google.com/chrome/answer/95647"><i class="fa fa-fw fa-external-link"></i> @Messages("pvtools.cookies5")</a>.<br>
            @Messages("pvtools.cookies6")
            (<a href="https://support.mozilla.org/kb/block-websites-storing-site-preferences"><i class="fa fa-fw fa-external-link"></i> @Messages("pvtools.cookies3")</a>
            @Messages("pvtools.cookies7") <a href="https://support.google.com/accounts/answer/61416"><i class="fa fa-fw fa-external-link"></i> @Messages("pvtools.cookies5")</a>)
            @Messages("pvtools.cookies8")


    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
}
